#car1 {
  background-color: red;
  width: 6em;
  height: 6em;
  animation-name: race;
  left: 0px;
  position: relative;
  margin: 1em;
  
  /* animation-duration: 4s;
  animation-delay: .5s; */
}
#car2 {
  background-color: blue;
  color: yellow;
  width: 6em;
  height: 6em;
  left: 0px;
  position: relative;
  margin: 1em;
  /* animation-name: race;
  animation-duration: 4.5s; */
}

.track {
  background-color: #888888;
  margin: 1em 0;
}

@-webkit-keyframes race {
  from {margin-left: 0% }
  to {margin-left: 100% }
}
@-o-keyframes race {
  from {margin-left: 0% }
  to {margin-left: 100% }
}
@-moz-keyframes race {
  from {margin-left: 0% }
  to {margin-left: 100% }
}
@keyframes race {
  from {margin-left: 0% }
  to {margin-left: 100% }
}